
/* Awal Card Beranda */
.card-beranda-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr; /* default mobile */
  margin-bottom: 1rem;
}

.card-beranda {
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--card-border);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  transition: 0.3s ease all;
  cursor: pointer;
}

.card-beranda:hover {
  border: 1px solid var(--third-color);
}

.info-card-wrapper h2 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.card-beranda p {
  color: var(--text-color);
  font-size: 0.9rem;
  font-weight: 500;
}

.info-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

p.icon-beranda {
  color: var(--secondary-color);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #37b7c327;
}

.icon-beranda .material-symbols-outlined {
  font-size: 1.8rem;
  color: var(--secondary-color);
}

/* Responsive */
@media (min-width: 600px) {
  .card-beranda-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .card-beranda-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-beranda:nth-child(4) {
    grid-column: span 3;
  }
}

@media (min-width: 1200px) {
  .card-beranda-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-beranda:nth-child(4) {
    grid-column: span 1;
  }
}
/* Akhir Card Beranda */

/* Awal container modul mahasiswa */
.container-modul-mhs {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 1.5rem;
  transition: 0.3s ease all;
}

.container-modul-mhs:hover {
  border: 1px solid var(--third-color);
}

.container-modul-mhs .judul-container-modul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.judul-container-modul h2 {
  font-size: 1rem;
  font-weight: 650;
}

.judul-container-modul a {
  font-size: 1rem;
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 0.8rem;
  gap: 0.1rem;
  transition: 0.3s ease all;
}

.judul-container-modul a:hover {
  transform: translateX(5px);
}

.judul-container-modul a .material-symbols-outlined {
  font-size: 1.1rem;
}

.wrapper-card-modul-mahasiswa {
  height: 405px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-right: 0.5rem;
}

.card-modul-mahasiswa {
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  transition: 0.3s ease all; 
  border: 1px solid transparent;
}

.card-modul-mahasiswa:hover {
  transform: translateX(0.3rem);
  border: 1px solid var(--third-color);
}

.header-card-modul-mahasiswa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

.wrapper-header-card-modul-mhs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  min-width: 0;
  flex: 1;
}

.card-modul-mahasiswa .header-card-modul-mahasiswa .icon-card-modul-mahasiswa {
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, var(--secondary-color), var(--third-color));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon-card-modul-mahasiswa .material-symbols-outlined {
  color: #fff;
  font-size: 1.5rem;
}

.info-judul-card-mhs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
  min-width: 0;
  flex: 1;
}

.info-judul-card-mhs h3 {
  font-size: 1rem;
  font-weight: 600;
}

.info-judul-card-mhs p {
  font-size: 0.8rem;
  color: var(--text-color);
}

.info-judul-card-mhs h3,
.info-judul-card-mhs p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card-modul-mhs-status{
  padding: 0.4rem;
  border-radius: 10px;
  font-size: 0.7rem;
  flex-shrink: 0;
}

.card-modul-mhs-status.selesai{
  background-color: var(--hijau-background);
  color: var(--hijau);
}

.card-modul-mhs-status.sedang-berlangsung{
  background-color: #37b7c327;
  color: var(--secondary-color);
}

.footer-card-modul-mahasiswa {
  /* border-top: 1px solid #111; */
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.footer-card-modul-mahasiswa .progress-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-card-modul-mahasiswa .progress {
  width: 120px;
  height: 10px;
  background-color: #e5e9f2;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.footer-card-modul-mahasiswa .progress-bar {
  height: 100%;
  background: linear-gradient(90deg, var(--primary-color), var(--biru));
  border-radius: 10px;
}

.footer-card-modul-mahasiswa .precentage {
  font-weight: 500;
  font-size: 0.9rem;
  color: #111;
}

a.lanjut-belajar-modul {
  margin-top: 0.5rem;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9rem;
  color: var(--secondary-color);
  font-weight: 500;
  gap: 0.3rem;
}

a.lanjut-belajar-modul .material-symbols-outlined {
  font-size: 1.3rem;
}

@media (max-width: 576px) {

  .header-card-modul-mahasiswa {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper-header-card-modul-mhs {
    width: 100%;
  }

  .card-modul-mhs-status {
    margin-top: 0.5rem;
  }

}
/* Akhir container modul mahasiswa */

/* Awal Wrapper deadline notiifikasi */
.wrapper-deadline-notifikasi {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1rem;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .wrapper-deadline-notifikasi {
    grid-template-columns: 1fr;
  }
}
/* Akhir Wrapper deadline notiifikasi */

/* Awal container deadline terakhir */
.container-deadline-mhs {
  flex: 1.5;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 400px;
  min-width: 0;
  transition: 0.3s ease all;
}

.container-deadline-mhs:hover {
  border: 1px solid var(--third-color);
}

.header-container-deadline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: 650;
  margin-bottom: 0.8rem;
}

.header-container-deadline .material-symbols-outlined {
  color: #F0C037;
  font-size: 1.5rem;
}

.wrapper-card-deadline-mhs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0.5rem 0;
  padding-right: 0.5rem;
  /* overflow: hidden; */
}

.card-deadline-mhs {
  background-color: #f4f2f2;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  transition: 0.3s ease all;
  cursor: pointer;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid transparent;
}

.card-deadline-mhs:hover {
  transform: translateX(0.3rem);
  border: 1px solid var(--third-color);

}



.card-deadline-mhs h2 {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card-deadline-mhs p {
  font-size: 0.9rem;
  font-weight: 450;
  color: #F0C037;
}

.footer-container-deadline {
  font-weight: 650;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 0.8rem;
  gap: 0.1rem;
  transition: 0.3s ease all;
  width: 100%;
  justify-content: flex-start;
  margin-top: 0.8rem;
}

.footer-container-deadline .material-symbols-outlined {
  font-size: 1.1rem;
}

.footer-container-deadline:hover {
  transform: translateX(5px);
}
/* Akhir container deadline terakhir */

/* Awal container notifikasi mahasiswa */
.container-notifikasi-mhs {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  min-width: 0;
  transition: 0.3s ease all;
}

.container-notifikasi-mhs:hover {
  border: 1px solid var(--third-color);
}

.header-container-notifikasi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 0.3rem;
  font-size: 1rem;
  font-weight: 650;
  margin-bottom: 0.8rem;
}

.header-container-notifikasi .material-symbols-outlined {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.wrapper-card-notifikasi-mhs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 0.8rem;
  height: 100%;
  padding: 0.5rem 0;
  /* border: 1px solid red; */
  overflow-y: auto;
  padding-right: 0.5rem;
}

.card-notifikasi-mhs {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  transition: 0.3s ease all;
  border-radius: 10px;
  cursor: pointer;
  min-width: 0;
  background-color: #f4f2f2;
  border: 1px solid transparent;
}

.card-notifikasi-mhs:hover {
  border: 1px solid var(--third-color);
}

.icon-notifikasi {
  padding: 0.25rem;
  border-radius: 50%;
  background-color: var(--third-color);
  flex-shrink: 0;
}

.info-notifikasi-mhs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.3rem;
  flex: 1;
  min-width: 0;
  /* border: 1px solid red; */
}

.info-notifikasi-mhs h3 {
  font-size: 0.9rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 100%;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 100%; */
}

.info-notifikasi-mhs span {
  font-size: 0.8rem;
  font-color: var(--text-color);
  font-weight: 450;
}
/* Akhir container notifikasi mahasiswa */

/* Awal Sembunyikan Scrollbar */
.wrapper-card-deadline-mhs,  
.wrapper-card-notifikasi-mhs,
.wrapper-card-modul-mahasiswa{
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge lama */
}

.wrapper-card-deadline-mhs::-webkit-scrollbar,
.wrapper-card-notifikasi-mhs::-webkit-scrollbar,
.wrapper-card-modul-mahasiswa::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge */
}
/* Akhir Sembunyikan Scrollbar */
